*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html {
  line-height: 1.5;
}

body {
  min-height: 100vh;
  background-color: var(--color-background);
  color: var(--color-text);
  font-family: system-ui, -apple-system, "Segoe UI", sans-serif;
  font-size: var(--font-size-md);
}

img {
  display: block;
  max-width: 100%;
}

button, input {
  font: inherit;
}

ul, ol {
  padding-left: var(--space-lg);
}
